<template>
  <div class="modal" :class="{ 'is-active': showModal }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Survey detail</p>
        <button
          class="delete"
          aria-label="close"
          @click="onShowDetail"
        ></button>
      </header>
      <section class="modal-card-body content" v-if="showModal">
        <div v-for="(item, x) in detail" :key="x">
          <h2>{{ item.label }}</h2>
          <donut-chart :data-chart="item.result" v-if="item.type === 'qcm'" />
          <div class="mt-2" v-if="item.type === 'numeric'">
            <h6>{{ parseInt(item.result) }}</h6>
          </div>
          <div class="mt-2" v-if="item.type === 'date'">
            <ul>
              <li v-for="(dateItem, i) in item.result" :key="i + item.type">
                {{ renderDate(dateItem) }}
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import DonutChart from "./DonutChart.vue";
export default {
  name: "ModalDetail",
  components: { DonutChart },
  props: {
    showModal: Boolean,
    detail: {
      type: Array,
      default: () => [],
    },
  },

  methods: {
    onShowDetail() {
      this.$emit("on-show-detail");
    },
  },
  computed: {
    renderDate() {
      return (dateParams) => {
        const date = new Date(dateParams);
        return `${date.getMonth()}/${date.getDate()}/${date.getFullYear()}`;
      };
    },
  },
};
</script>

<style>
</style>