<template>
  <input
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
    class="input is-primary"
    type="text"
    placeholder="Search with name/ code"
  />
</template>

<script>
export default {
  name: "SearchInput",
  props: ["modelValue"],
};
</script>

<style>
</style>