<template>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th><span title="Position">Code</span></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, x) in tableContents" :key="x">
        <td>
          <span>{{ item.name }}</span>
        </td>
        <td><a @click="onClickDetail(item)">{{ item.code }}</a></td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "Table",
  props: {
    tableContents: {
      type: Array,
      default: () => ([])
    }
  },
  methods: {
    onClickDetail(item) {
      this.$emit("on-click-detail", item)
    }
  }
};
</script>

<style>
</style>