<template>
  <div class="home mt-6">
    <search-input v-model="searchInput"></search-input>
    <Table
      :table-contents="resultTableContent"
      @on-click-detail="onClickDetail"
    />
    <modal-detail
      :show-modal="showModal"
      :detail="detail"
      @on-show-detail="onShowDetail"
    />
  </div>
</template>

<script>
import { computed, onMounted, ref } from "vue";

import Table from "@/components/Table.vue";
import ModalDetail from "@/components/ModalDetail.vue";
import SearchInput from "@/components/SearchInput.vue";
import useFetch from "@/composition/use-fetch";
import { BASE_URL } from "@/constant/host";
export default {
  name: "Home",
  components: {
    Table,
    ModalDetail,
    SearchInput,
  },
  setup() {
    const tableContents = ref([]);
    const detail = ref([]);
    const showModal = ref(false);
    const searchInput = ref("");
    const resultTableContent = computed(() => {
      if (searchInput.value) {
        return tableContents.value.filter((content) => {
          if (
            (content.name || "")
              .toLowerCase()
              .includes(searchInput.value.toLowerCase())
          ) {
            return true;
          } else if (
            (content.code || "")
              .toLowerCase()
              .includes(searchInput.value.toLowerCase())
          ) {
            return true;
          } else {
            return false;
          }
        });
      }
      return tableContents.value;
    });
    onMounted(async () => {
      const res = await useFetch(`${BASE_URL}/api/list.json`, {
        method: "GET",
      });
      if (res) {
        tableContents.value = res;
      }
    });

    const onClickDetail = async (item) => {
      const resp = await useFetch(`${BASE_URL}/api/${item.code}.json`, {
        method: "GET",
      });
      if (resp) {
        detail.value = resp;
      }
      onShowDetail();
    };

    const onShowDetail = () => {
      showModal.value = !showModal.value;
    };
    return {
      tableContents,
      showModal,
      searchInput,
      detail,
      resultTableContent,
      onClickDetail,
      onShowDetail,
    };
  },
};
</script>
